header {
    background-color: #EAC2DB;
    color: #7E0062;
}
div {
    background-color: #BBDAAD;
    color: #7E0062;
}
footer {
    background-color: #BBDAAD;
    color:#7E0062
}
body {
    border:#7E0062;
    border-style: dotted;
    margin: 25px 50px 75px 100px;
    text-align: center;
}